@media (max-width: 768px) {
    nav ul{
        display: none;
    }
    
    .dMenu{
        display: block;
    }

    /* #closer{
        display: block;
    } */

   .active{
    display: block;
   }

   .hide{
    display: none;
}


}