/* resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    overflow: hidden;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient(to right, black, white);


    .logo img{
        width: 60px;
        border-radius: 10px;
    }

    li,a{
        list-style: none;
        text-decoration: none;
        color: #000;
        font-size: 17px;
        font-weight: 900;
    }

    .getInTouch{
        font-size: 19px;

    }

    ul{
        display: flex;
        gap: 30px;
    }
}

/* hero section */
.hero-page{
    background-image: url("../images/hero-bg.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120%;
    height: 100vh;
    position: relative;
    transform: translateX(-100px);

    .hero-writeup{
        position: absolute;
        top: 5rem;
        transform: translateX(120px);

        .welcome-text{
            font-size: 70px;
            font-weight: 200;
            max-width: 400px;

            .authentik{
                font-size: 100px;
                font-weight: 800;
            }
        }

        .about-text{
            font-weight: 700;
            word-spacing: 5px;
            letter-spacing: 1px;
            margin-bottom: 3rem;
        }

    }

    .hero-btn{
        display: flex;
        align-items: center;
        gap: 20px;

        .start-btn{
            background: #000;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            padding: 20px;
            border-radius: 10px;
        }

        .learn-btn,i{
            text-transform: uppercase;
            text-decoration: underline;
            color: #000;
        }
    }
}